.navbar2{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    flex-wrap: wrap;
    
}
button{
    border: none;
    font-size:x-large;
    background-color: white;
    cursor: pointer;
}
button>h4{
    background-color: red; 
    cursor: pointer;
}